@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*altura total do navegador*/
    width: 100vw; /*altura total*/
} 

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /* cover p/ cobrir a tela inteira*/
    background-attachment: fixed; /*fixar no caso de ter rolagem*/
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px; 
    /*
    vai configurando a largura de acordo com o tamanho do telefone, por isso a cor azul é importante.
    ou procure no gimp pelo caminho: abrir imagem pelo gimp > imagem (no topo) > propriedades da imagem
    */
    background-color: blue;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}